.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 7% 93%;
    grid-template-areas: 
        "side head"
        "side body";
    background-color: var(--primary-color);
}
.side-menu{
    grid-area: side;
    border: 1px solid black;
}
.header{
    grid-area: head;
    border: 1px solid black;
}
.content{
    grid-area: body;
    border: 1px solid black;
}

@media (max-width: 800px){
    .container{
        grid-template-areas: 
            "head"
            "body";
        grid-template-columns: 1fr;
    }
    .side-menu{
        display: none;
    }
}