.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 7% 93%;
    grid-template-areas: 
        "l c"
        "l p";
    background-color: var(--primary-color);
}
.i1{
    grid-area: l;
    border: 1px solid black;
}
.i2{
    grid-area: c;
    border: 1px solid black;
}
.i3{
    grid-area: p;
    border: 1px solid black;
}

@media (max-width: 800px){
    .container{
        grid-template-areas: 
            "c"
            "p";
        grid-template-columns: 1fr;
    }
}