<div class="container">
    <div class="divider"></div>
    <div class="content">
        <div class="logo">
            <img src="assets/Images/Logo AutoGest.png"/>
            <div class="logo-texts">
                <p class="para">
                    Feito para profissionais de serviços.
                </p>
                <div>
                    <p> © 2026 AutoGest.</p>
                    <p class="v">
                      v1.0.0
                    </p>
                </div>
            </div>
        </div>
        <div class="infos">
            <div class="suporte">
                <h3>Suporte</h3>
                <nav routerLink="/faq"><p>Perguntas Frequentes</p></nav>
                <nav routerLink="/relatar"><p style="color: rgba(201, 55, 55, 0.789);">Relatar erro</p></nav>
            </div>
            <div class="redes">
                <a href="https://github.com/bokargiu"><p-button [rounded]="true" class="primary-btn" size="small" ><i class="pi pi-github"></i></p-button></a>
                <a href="https://linkedin.com/in/erick-julio-staack"><p-button [rounded]="true" class="primary-btn" size="small" ><i class="pi pi-linkedin"></i></p-button></a>
            </div>
        </div>
    </div>
</div>
