.container{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    justify-content: space-around;
    align-items: center;
    min-height: 30vh;
    width: 100%;
    padding-bottom: 20px;
}
.divider{
    width: 80vw;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.144);
}
.content{
    width: 90vw;
    min-height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
}
.content .logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}


.logo img{
    width: 50px;
    height: 50px;
}
.logo-texts{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.logo-texts p{
    margin: 0px;
}
.para{
    width: 100%;
    font-size: large;
}
.logo-texts div{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.v{
    font-size: small;
    opacity: 0.7;
}


.infos{
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
}
.suporte{
    display: flex;
    flex-direction: column;

}
.suporte *{
    margin: 5px;
}
.suporte p{
    text-decoration: underline;
}
.suporte nav :hover{
    cursor: pointer;
}
.redes{
    display: flex;
    justify-content: center;
    gap: 15px;
}


