
.content{
    background-color: var(--primary-color);
    font-family: monospace;
}
.hero{
    min-height: 600px;
    background-image: url(/assets/Images/background.png);
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 0px;
}
.hero-text{
    max-width: 700px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.hero-text h1 {
  color: var(--primary-color);
  text-shadow: 0px 2px 5px rgba(255, 255, 255, 0.18);
  font-size: 32px;
  margin: 0;
}
.hero-img{
    background-color: var(--primary-color);
    border-radius: 5px;
    border-bottom-left-radius: 0px; 
    border-bottom-right-radius: 0px;
    padding: 10px;

    min-height: 150px;
    max-height: 300px;
    min-width: 250px;
    max-width: 750px;
    overflow: hidden;
}
.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.functions{
    min-height: 600px;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}
.central-card{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.central-card img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.134);
}
.central-card h2{
    min-height: 60px;
}
.central-card p{
    min-height: 60px;
}

@media (max-width: 768px) {
    .functions{
        min-height: 750px;
        align-items: center;
        justify-content: space-evenly;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}