.container{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content{
    flex: 1;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.card{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    padding: 20px;
    padding-top: 30px;
    gap: 10px;
    border-radius: 5px;
    min-height: 40vh;
}
.register{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 30vh;
    gap: 30px;
    
    width: 100%;
    max-width: 320px;
}
input{
    width: 100%;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.divider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 30vh;
}

.divider span {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.69);
    margin: 5px;
}
.divider div{
    height: 15vh;
    border: 1px solid rgba(48, 48, 48, 0.147);
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    .card{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        min-height: 300px;
        max-height: 500px;
    }
    .register{
        margin-top: 20px;
        padding-top: 10px;
        min-height: 40vh;
    }
    .divider{
        flex-direction: row;
        min-height: 0vh;
    }
    .divider div{
        width: 25vw;
        height: 2px;
    }
}