@if(opVisible){
    <div class="op-container" role="dialog" aria-modal="true" aria-label="Menu">
        <div class="op-backdrop" (click)="opVisible = false">
            <div class="op-buttons">
                @for(op of options; track op.label){
                    <p-button
                        pRipple
                        [label]="op.label"
                        [severity]="iAmHere(op.classRouter) ? 'success' : 'primary'"
                        [icon]="op.icon"
                        [style]="{
                            'width': '50vw'
                        }"
                        [routerLink]="op.router"
                    />
                }
            </div>
        </div>
    </div>
}

<div class="container">
    <nav class="nav" (click)="logout()">
        <p-avatar
            pRipple
            icon="pi pi-sign-out"
            [style]="{backgroundColor: 'var(--accent-color)'}"/>
    </nav>
    @if (isMobile){
    <nav class="nav" (click)="opVisible = true">
        <p-avatar
            pRipple
            icon="pi pi-bars"
            [style]="{backgroundColor: 'var(--primary-color)'}"/>
    </nav>
    }
</div>


