<div class="container">
    <nav class="nav" (click)="logout()">
        <p-avatar
            pRipple
            icon="pi pi-sign-out"
            class="tertiary"/>
    </nav>
    @if (isMobile()){
    <nav class="nav" (click)="sidebarVisible = true">
        <p-avatar
            pRipple
            icon="pi pi-bars"
            class="primary"/>
    </nav>
    }
</div>

<p-sidebar [(visible)]="sidebarVisible" [style]="{'width': '40vw'}" class="primary-side">
    <app-side-menu/>
</p-sidebar>
