.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    gap: 10px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    width: 37px;
}
.nav :hover {
    cursor: pointer;
}