<div class="container">
    @for (item of itens; track item.label){
    <div 
        class="btn"
        [pTooltip]="item.label"
    >
        <p-button
            pRipple
            [severity]="isRoute(item.classRouter) ? 'success' : 'primary'"
            [icon]="item.icon"
            size="large"
            [style]="{
                'width': '100%',
                'height': '60px',
                'margin': '0px',
                'border-radius': '0px',
                'border-top': 'none',
                'border-right': 'none'
            }"
            [routerLink]="item.router"
        />
    </div>
    }
</div>

