.container{
    height: 100%;
    display: grid;
    grid-template-areas: 
        "option"
        "filter"
        "clients";
    grid-template-rows: 1fr 1fr 8fr;
}
.options{
    padding: 5px 5% 5px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.toolbar-buttons{
    width: 120px;
    display: flex;
    justify-content: space-evenly;
}

.filters{
    background-color: aquamarine;
}
.list-clients{
    background-color: blue;
}