<div class="container">
    <div class="options">
        <p-toolbar>
            <ng-template pTemplate="start">
                <div class="toolbar-buttons">
                    <p-avatar
                        pRipple
                        icon="pi pi-plus"
                        [style]="{backgroundColor: 'var(--secondary-color)', color: '#fff'}"
                        (click)="btnNew()">
                    </p-avatar>
                    <p-avatar
                        pRipple
                        icon="pi pi-pencil"
                        [style]="{backgroundColor: 'var(--primary-color)', border: '1px solid black'}"
                        (click)="btnEdit()">
                    </p-avatar>
                    <p-avatar
                        pRipple
                        icon="pi pi-minus"
                        [style]="{backgroundColor: 'var(--accent-color)'}"
                        (click)="btnDell()">
                    </p-avatar>
                </div>
            </ng-template>
            <ng-template pTemplate="end">
                <p-iconField>
                    <p-inputIcon styleClass="pi pi-search"/>
                    <input 
                        pInputText 
                        type="text"
                        placeholder="Buscar Cliente"
                        (input)="tb.filterGlobal($any($event.target).value, 'contains')"
                        />
                </p-iconField>
            </ng-template>
        </p-toolbar>
    </div>
    <div class="list-clients">
        <p-button icon="pi pi-replay" class="primary" size="small" (onClick)="refreshTable()" />
        <p-table 
            #tb
            [value]="clients"
            [metaKeySelection]="true"
            [scrollable]="true"
            [scrollHeight]="'400px'"
            styleClass="p-datatable-striped"
            [(selection)]="selectedClient"
            [selectionMode]="'single'"
            [globalFilterFields]="['name']"
            dataKey="id"
            >
            <ng-template pTemplate="header">
                <th pSortableColumn="name">
                    Nome <p-sortIcon field="name"/>
                </th>
                <th>
                    Celular
                </th>
                <th pSortableColumn="rating">
                    Avaliação <p-sortIcon field="rating"/>
                </th>
            </ng-template>
            <ng-template pTemplate="body" let-client>
                <tr [pSelectableRow]="client">
                    <th>{{client.name}}</th>
                    <th>{{client.number}}</th>
                    <th>
                        <p-rating 
                        [(ngModel)]="client.rating"
                        [readonly]="true"
                        [cancel]="false"
                        />
                    </th>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- Novo cliente -->
<p-dialog
[(visible)]="newClientV"
[style]="{ 'width': '25vw'}"
[breakpoints]="{ '800px': '90vw'}"
header="Crie um novo cliente:"
[closable]="false">
    <ng-template pTemplate="content">
        <div class="field">
            <input 
                type="text" 
                pInputText 
                placeholder="Nome"
                [(ngModel)]="clientDTO.name">
            <p-inputMask
                mask="(99) 99999-9999"
                [(ngModel)]="clientDTO.number"
                placeholder="(ddd) 00000-0000"/>
            <p-rating
                [(ngModel)]="clientDTO.rating"/>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="btns">
            <p-button
                severity="success"
                label="Confirmar e criar"
                size="small"
                (onClick)="creatNew()"/>
            <p-button
                severity="secondary"
                label="Cancelar"
                size="small"
                (onClick)="btnNew()"/>
        </div>
    </ng-template>
</p-dialog>

<!-- Editar Cliente -->
<p-dialog
    [closable]="false"
    [(visible)]="editClientV"
    [style]="{ 'width': '25vw'}"
    [breakpoints]="{ '800px': '90vw'}"
>
    <ng-template pTemplate="content">
        <div class="field">
            <input 
                type="text" 
                pInputText 
                [placeholder]="clientDTO.name"
                [(ngModel)]="clientDTO.name">
            <p-inputMask
                mask="(99) 99999-9999"
                [(ngModel)]="clientDTO.number"
                [placeholder]="clientDTO.number"/>
            <p-rating
                [(ngModel)]="clientDTO.rating"/>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="btns">
            <p-button
                severity="success"
                label="Alterar"
                size="small"
                (onClick)="alterar()"/>
            <p-button
                severity="secondary"
                label="Cancelar"
                size="small"
                (onClick)="refreshTable()"/>
        </div>
    </ng-template>
</p-dialog>

<!-- Excluir Cliente -->
<p-dialog
    header="Tem certeza que quer excluir esse cliente?"
    [closable]="false"
    [(visible)]="dellClientV"
    [style]="{ 'width': '25vw'}"
    [breakpoints]="{ '800px': '90vw'}"
>
    <ng-template pTemplate="content">
        <div class="field">
            <input 
                type="text" 
                pInputText 
                [placeholder]="selectedClient.name"
                [disabled]="true">
            <input
                pInputText
                [placeholder]="selectedClient.number"
                [disabled]="true"/>
            <p-rating
                [disabled]="true"
                [cancel]="false"
                [ngModel]="selectedClient.rating"/>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="btns">
            <p-button
                severity="success"
                label="Excluir"
                size="small"
                (onClick)="dellClient()"/>
            <p-button
                severity="secondary"
                label="Cancelar"
                size="small"
                (onClick)="refreshTable()"/>
        </div>
    </ng-template>
</p-dialog>