.container{
    height: 100%;
    display: grid;
    grid-template-areas: 
        "option"
        "clients";
    grid-template-rows: 15% 85%;
}
.options{
    grid-area: option;
    padding: 5px 5% 5px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.toolbar-buttons{
    width: 120px;
    display: flex;
    justify-content: space-evenly;
}
.list-clients{
    grid-area: clients;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.list-clients p-table{
    width: 90%;
}
@media (max-width: 800px) {
    .container{
        grid-template-rows: 25% 75%;
    }
}
