.container{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content{
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.primary-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 5px;
}
.login{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 30vh;

}

@media (max-width: 800px) {
    .login{
        gap: 12px;
        min-height: 38vh;
    }
}