/*@import "primeng/resources/themes/soho-light/theme.css"; */
@import "src/styles/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body{
    margin: 0px;
    background-color: var(--primary-color);
}

:root {
  --primary-color: #F0EEE9 !important;   /* Pantone Cloud Dancer */
  --secondary-color: #264E36 !important; /* Pantone Eden */
  --accent-color: #FF6F61 !important; /* Pantone Living Coral */

  --primary-color-text: #000000 !important;
  --secondary-color-text: rgba(42, 42, 42, 0.815);
}
:root {
  --p-primary-color: var(--primary-color) !important;
  --p-primary-contrast-color: var(--primary-color-text) !important;

  --p-secondary-color: var(--secondary-color) !important;
  --p-secondary-contrast-color: var(--primary-color) !important;

  --p-contrast-color: var(--accent-color) !important;
  --p-contrast-contrast-color: var(--primary-color-text) !important;
}

.col-break {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.p-datatable .p-datatable-table {
  table-layout: fixed;
}
.p-datatable-thead > tr > th {
  position: sticky;
  top: 0;
  z-index: 1;
}
.p-menubar .p-menubar-button{
  color: #000000;
}

/* == MONTH == WEEK == */

.cal-month-view {
  border-radius: 5px;
  background-color: color-mix(in srgb, var(--primary-color) 90%, rgba(0, 0, 0, 0.595) 10%);
}
.cal-month-view .cal-days .cal-cell-row:hover,
.cal-month-view .cal-days,
.cal-week-view .cal-time-label-column,
.cal-week-view{
  background-color: var(--primary-color);
}

.cal-month-view .cal-day-cell:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.219);
}
[dir=rtl] .cal-month-view .cal-day-cell:not(:last-child) {
  border-right: initial;
  border-left: 1px solid rgba(0, 0, 0, 0.219);
}
.cal-month-view .cal-days .cal-cell-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.219);
}
.cal-month-view .cal-open-day-events > div{
  padding: 2px;
}
.cal-month-view .cal-open-day-events{
  max-height: 60px;
  padding: 2px;
  overflow-y: auto !important;
}

.cal-month-view .cal-day-cell :hover,
.cal-month-view .cal-cell.cal-has-events.cal-open,
.cal-month-view .cal-cell-row:hover,
.cal-week-view .cal-day-headers,
.cal-week-view .cal-time-events .cal-day-columns:not(.cal-resize-active) .cal-hour-segment:hover,
.cal-week-view .cal-day-headers .cal-header:hover,
.cal-week-view .cal-day-headers .cal-drag-over {
  background-color: color-mix(in srgb, var(--primary-color) 90%, rgba(0, 0, 0, 0.595) 10%);
}
.cal-week-view .cal-hour-odd{
  background-color: color-mix(in srgb, var(--primary-color) 90%, rgba(0, 0, 0, 0.595) 5%);
}