/*@import "primeng/resources/themes/soho-light/theme.css"; */
@import "src/styles/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body{
    margin: 0px;
    background-color: var(--primary-color);
}

:root {
  --primary-color: #F0EEE9 !important;   /* Pantone Cloud Dancer */
  --secondary-color: #264E36 !important; /* Pantone Eden */
  --accent-color: #FF6F61 !important; /* Pantone Living Coral */

  --primary-color-text: #000000 !important;
  --secondary-color-text: rgba(42, 42, 42, 0.815);
}
:root {
  --p-primary-color: var(--primary-color) !important;
  --p-primary-contrast-color: var(--primary-color-text) !important;

  --p-secondary-color: var(--secondary-color) !important;
  --p-secondary-contrast-color: var(--primary-color) !important;

  --p-contrast-color: var(--accent-color) !important;
  --p-contrast-contrast-color: var(--primary-color-text) !important;
}

.col-break {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.p-datatable .p-datatable-table {
  table-layout: fixed;
}
.p-datatable-thead > tr > th {
  position: sticky;
  top: 0;
  z-index: 1;
}